{% extends "base.html" %}
{% load staticfiles %}
{% load i18n widget_tweaks %}

{% block customCSS %}
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'cards-overview-style.css' %}" rel="stylesheet">
{% endblock customCSS %}

{% block content %}
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid" id="cards-overview-container">
                <div class="row">
                    <div class="col-md-1">
                        <a href="{% url 'app_cards:app_card_inventory:add_new_stock' %}" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add</a>
                    </div>
                    <div class="col-md-11">
                        <div class="form-container container-fluid">
                            <div class="row">
                                <form class="form-inline" role="form" action="" method="GET">
                                    {% csrf_token %}
                                    <div class="col-md-12">
                                        {% for field in searchForm %}
                                            {% if field.errors %}
                                                <div class="form-group has-error">
                                                    <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                                                    {{ field|attr:"class:form-control" }}
                                                    <span class="help-block">
                                                    {% for error in  field.errors %}{{ error }}{% endfor %}
                                                    </span>
                                                </div>
                                                    {% if field.label == 'To' %}
                                                        <button name="btnToday" type="button" class="btn btn-xs" id="btnToday">Today</button>
                                                    {% endif %}
                                            {% else %}
                                                <div class="form-group">
                                                    <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                                                    {{ field|attr:"class:form-control" }}
                                                    {% if field.help_text %}
                                                        <p class="help-block"><small>{{ field.help_text }}</small></p>
                                                    {% endif %}

                                                    {% if field.label == 'To' %}
                                                        <button name="btnToday" type="button" class="btn btn-xs" id="btnToday">Today</button>
                                                    {% endif %}

                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    <div class="form-group">
                                        <button name="btnSearch" type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></button>
                                    </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="CardsTable">
                    <div class="col-lg-12">
                        <table class="table table-striped"  id="main-table">
                            <thead>
                                <tr>
                                    <th>Card Type</th>
                                    <th>RTP Date</th>
                                    <th>Receive Date</th>
                                    <th>Box Total</th>
                                    <th>Card Amount</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td>Total Received Stocks: {{ totalReceivedStock }}</td>
                                </tr>
                            </tfoot>
                            <tbody id="main-table-body">
                                {% for record in records %}
                                    <tr>
                                        <td class="table_link">
                                            <a href="{% url 'app_cards:app_card_inventory:update_stock' pk=record.id %}">
                                                {{ record.card }}
                                            </a>
                                        </td>
                                        <td>{{ record.rtp_date }}</td>
                                        <td>{{ record.received_date }}</td>
                                        <td>{{ record.received_box_amount }}</td>
                                        <td>{{ record.received_amount }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
{% endblock content %}