{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ID Management System</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'login-style.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div class="vertical-center">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="mainForm">
                <h1>ID Management System</h1>
                 <form action="" method="POST" role="form">{% csrf_token %}
                    <div class="form-group"> 
                        <legend>Encoder, Manager</legend>
                    </div>

                    {% if next %}
                        {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                        {% endif %}
                    {% endif %}
                    
                    <div class="form-group">       
                        {{ form.as_p }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="form-group">
                        <a href="{% url 'admin:login' %}">Administrator</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>

    <!-- jQuery -->
    <script src="{% static 'jquery-3.2.1.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap.min.js' %}"></script>
        
</body>

</html>
